* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eba76c;
    color: #eba76c;
    display: flex;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    list-style: none;
    max-width: 100vw;
    max-height: 100vh;
    text-decoration: none;
    overflow: hidden;
}

a {
    color: #eba76c;
    text-decoration: none;
}

a:hover {
    color: #f8f8f8;
}


main {
    background-color: #1c6681;
    margin: 0.8em;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}


/* MENU */

#menu {
    padding: 2em 0;
    align-items: center;
    display: flex;
    flex-basis: 2%;
    flex-flow: column wrap;
    flex-grow: 1;
    justify-content: center;
    height: 100vh;
}

#menu img {
    height: auto;
    max-width: 100%;
}

#menu_desplegado {
    font-size: 0.8em;
    height: 100%;
    margin-left: 6em;
    margin-right: 2em;
    padding: 4em 0;
    width: 10vw;
    display: none;
    /* Se usa para javascript para ocultar y que no ocupe lugar. La etiqueta script tiene none por defecto*/

}

#menu_desplegado ul {
    list-style: outside none;
}

#menu:hover {
    margin-left: -1em;
}

#menu:hover #foto img {
    display: none;
}

#menu:hover #menu_desplegado {
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
    justify-content: space-between;
}

#links {
    font-family: "Roboto Mono", monospace;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    /* Atajo para propiedad flex-direction y flex-wrap */
    height: 10vh;
    justify-content: space-between;
}

#links,
#comitente,
#legales {
    flex-wrap: wrap;
}

#comitente {
    font-family: "Roboto Slab", serif;
    font-size: 1em;
    letter-spacing: 1.5px;
}

#comit {
    font-size: 0.9em;
    margin-top: 0.6em;
}

#legales {
    font-size: 0.75em;
}

/* CONTENIDO */

#contenido {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}

#info {
    min-height: 60vh;
    padding: 5rem 2rem;
    align-items: flex-start;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}


#dg {
    color: #f8f8f8;
    font-family: "Roboto Slab", serif;
    font-size: 2em;
    letter-spacing: 1.5px;
    width: 65%;
    display: flex;
    margin-bottom: 20px;
}


#materias {
    width: 120%;
    color: #f8f8f8;
    font-family: "Roboto Slab", serif;
    font-size: 0.9em;
    letter-spacing: 1.5px;
    margin-top: 7px;
}


#materias ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-grow: 1;
}

#materias li {
    color: #f8f8f8;
    font-family: "Roboto Slab", serif;
    font-size: 0.8em;
    width: 150%;
}

#materias li div {
    color: #eba76c;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    line-height: 1.6em;
    margin-top: 1em;
    width: 150%;
}


#dg:hover #materias {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
}

#dg:hover #nombre {
    font-size: 1.5em;
    margin-top: 18em;
}

#listado_aprobadas,
#listado_en_curso,
#listado_restantes {
    display: none;
}

#aprobadas:hover #listado_aprobadas {
    display: flex;
    flex-direction: column;

}

#en_curso:hover #listado_en_curso {
    display: flex;
    flex-direction: column;

}

#restantes:hover #listado_restantes {
    display: flex;
    flex-direction: column;
}

#nombre {
    color: #eba76c;
    font-family: "Coda", sans-serif;
    font-size: 10em;
    letter-spacing: 0.09em;
    line-height: 1.1em;
    /*Interlinea*/
    margin-top: 1em;
    max-width: 100%;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    font-weight: 900;
    margin-left: -0.1em;
    position: absolute;
    bottom: 65px;
}


#integrantes {
    font-size: 0.8em;
    letter-spacing: 2px;
    width: 100%;
    font-family: "Roboto Slab", serif;
    display: flex;
    flex-wrap: wrap;
    place-content: flex-end space-between;
    /* Atajo de align content y justify content */
}

/*FOTO*/

#foto {
    max-height: 100vh;
    overflow: hidden;
    align-items: flex-start;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

#foto img {
    height: auto;
    width: 100%;
}


/* MEDIAS QUERIES */

@media only screen and (max-width: 1200px) {
    #nombre {
        font-size: 5em;
        margin-bottom: 5em;
        margin-top: 2em;
    }
}

@media only screen and (max-width: 900px) {
    #nombre {
        font-size: 3em;
    }
}

@media screen and (max-width: 600px) {
    #integrantes {
        max-width: 15vw;
    }

    #nombre {
        font-size: 2.5em;
    }

    #dg:hover #nombre {
        font-size: 1.5em;
        margin-top: 18em;
    }
}

@media screen and (max-width: 500px) {
    #nombre {
        font-size: 2rem;
        margin-bottom: 0em;
        margin-top: 0;
    }

    #info {
        min-height: 37vh;
        padding: 2rem;
        flex-direction: column;
    }

    #materias {
        display: none;
    }

    #menu {
        display: none;
    }
}

@media screen and (max-width: 300px) {
    #nombre {
        font-size: 1em;
        margin: 4em 0 5em;
    }

    #integrantes {
        margin-top: 10em;
    }
}

@media screen and (max-width: 200px) {
    #nombre {
        font-size: 0.8em;
        margin: 4em 0 5em;
    }
}