* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    text-decoration: none;
}


body {
    background-color: #161B1B;
    font-family: 'Share Tech Mono', monospace;
    font-size: 14px;
    line-height: 20px;
    color: #FFFF9D;
    letter-spacing: 2px;
}

.magic {
    position: relative;
    overflow: hidden;
    line-height: 0;
}

header {
    width: 100%;
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    width: 100%;
    top: -55px;
    height: 45px;
    transition: top 0.5s ease;
    line-height: 0;
}

nav:hover {
    top: 0;
}

.thegoodwrap {
    position: relative;
    display: block;
}

.thegoodwrap:after {
    position: absolute;
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(expand.svg);
    background-repeat: no-repeat;
    z-index: 999;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: -40px;
    border: solid 20px transparent;
}

.sectionlink {
    width: 50%;
    display: inline-block;
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    font-size: 24px;
    letter-spacing: 3px;
    color: #FFFF9D;
    padding: 30px 0;
}

#sect1 {
    background-color: #00a388;
}

#sect2 {
    background-color: #ff6038;
    float: right;
}

.magic {
    position: relative;
    overflow: hidden;
    line-height: 0;
}

.nameo {
    position: relative;
    width: 100%;
}

.subt {
    position: absolute;
    color: #FFFF9D;
    font-family: 'Share Tech Mono', monospace;
    font-size: 110px;
    line-height: 20px;
    top: 620px;
    left: 530px;
    z-index: 2;
    letter-spacing: 3px;
    transform: rotateZ(90deg);
}

.subt2 {
    position: absolute;
    color: #FFFF7D;
    font-family: 'Share Tech Mono', monospace;
    font-size: 85px;
    line-height: 65px;
    margin-top: 57%;
    margin-left: 70%;
    z-index: 2;
    letter-spacing: 3px;
    transform: rotateZ(90deg);
}

.gradient {
    width: 100%;
    height: 300%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(to bottom, rgba(255, 96, 56, 1) 0%, rgba(0, 163, 136, 1) 100%);
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: slowmove;
}

@keyframes slowmove {
    from {
        top: 0;
    }

    to {
        top: -200%;
    }
}

.photo {
    margin-top: 20px;
    width: 100%;
    background-color: #00a388;
    text-align: right;
    line-height: 0;
    padding: 0;
}

.portrait {
    display: inline-block;
    max-width: 40%;
}

section {
    margin: 10px 140px 40px 140px;
    padding: 30px 0 0;
    border-top: solid 3px #FFFF9D;
}

.footer {
    margin: 10px 140px 40px 140px;
    padding: 30px 0 0;
    border-top: none;
}

.sect-odd {
    font-family: 'Kumar One';
    color: #ff6038;
    line-height: 28px;
    font-size: 24px;
    max-width: 50%;
    position: relative;
    letter-spacing: 3px;
    margin-left: 15px;
    margin-bottom: 25px;

}

.about {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    border-top: solid 3px #FFFF9D;
    border-bottom: solid 3px #FFFF9D;
    background: #00a388;
    color: #161B1B;
}

.me {
    margin: 100px 140px 0;
    line-height: 2rem;
}

.sect-odd:before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 4px;
    background-color: #ff6038;
    left: -15px;
}

.sect-me {
    font-family: 'Kumar One';
    color: #161B1B;
    line-height: 28px;
    font-size: 24px;
    max-width: 50%;
    position: relative;
    letter-spacing: 3px;
    margin-left: 15px;
    margin-bottom: 50px;
}

.sect-me:before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 4px;
    background-color: #161B1B;
    left: -15px;
}

.sect {
    font-family: 'Kumar One';
    color: #161B1B;
    line-height: 28px;
    font-size: 24px;
    max-width: 50%;
    position: relative;
    letter-spacing: 3px;
    margin-left: 15px;
    margin-bottom: 25px;
}

.sect:before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 4px;
    background-color: #161B1B;
    left: -15px;
}

ul {
    list-style: none;
    list-style-type: none;
    list-style-image: none;
}

.likes {
    border-top: none;
}

li {
    transition: padding 0.2s ease;
    font-size: 20px;
    line-height: 2rem;
}

li:hover {
    padding-left: 30px;
}

.sep {
    text-transform: uppercase;
    font-size: 16px;
    color: #00a388;
    display: inline-block;
    transition: color 2.5s ease;
}

.sep2 {
    text-transform: uppercase;
    font-size: 16px;
    color: #00a388;
    display: inline-block;
    margin-left: 20px;
    transition: color 2.5s ease;
}

.sep:hover {
    color: red;
}

.sep2:hover {
    color: red;
}

.materia {
    margin-left: 20px;
}

footer {
    width: 100%;
    background-color: #ff6038;
    padding: 10px 0 30px;
    box-sizing: border-box;
    margin-top: 30px;
}

.texto_burocratico {
    font-size: 9px;
    line-height: 11px;
}

@media (max-width: 500px) {
    .classes {
        display: flex;
        flex-direction: column;
    }
    .materia, .sep2 {
        margin-left: 0px;
    }
    .subt2,
    .subr {
        display: none;
    }

    .portrait {
        display: none;
    }

    .sectionlink {
        width: 50%;
        display: inline-block;
        font-family: 'Share Tech Mono', monospace;
        text-align: center;
        font-size: 14px;
        letter-spacing: initial;
        color: #FFFF9D;
        padding: 25px 0;
    }

    .me {
        margin: 35px 45px;
        line-height: 2rem;
    }

    section {
        margin: 35px 45px;
        border-top: solid 3px #FFFF9D;
    }

    .footer {
        margin: 35px 45px;
    }

    .texto_burocratico {
        font-size: 11px;
        letter-spacing: initial;
        line-height: initial;
        margin-top: 35px;
    }
}