html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background: #fff none repeat scroll 0 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    line-height: 1;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
    display: block;
}

ul {
    list-style: outside none none;
}

blockquote,
q {
    quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: none;
}

a {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    color: #2c9ab7;
    font-size: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline;
}

a:hover {
    text-decoration: underline;
}

.span1of1 {
    width: 100%;
}

.span1of2 {
    width: 50%;
}

.span2of3 {
    width: 66.6667%;
}

.span1of3 {
    width: 33.3333%;
}

.span3of4 {
    width: 75%;
}

.span2of4 {
    width: 50%;
}

.span1of4 {
    width: 25%;
}

.span7of8 {
    width: 87.5%;
}

.span6of8 {
    width: 75%;
}

.span5of8 {
    width: 62.5%;
}

.span4of8 {
    width: 50%;
}

.span3of8 {
    width: 37.5%;
}

.span2of8 {
    width: 25%;
}

.span1of8 {
    width: 12.5%;
}

@media screen and (max-width: 840px) {
    .span1of8 {
        width: 25%;
    }

    .span1of4,
    .span2of8,
    .span3of8,
    .span2of4,
    .span5of8,
    .span4of8 {
        width: 50%;
    }

    .span3of4,
    .span6of8,
    .span7of8,
    .span1of2>.span1of2 {
        width: 100%;
    }
}

@media screen and (max-width: 615px) {

    .span1of3,
    .span2of3 {
        width: 50%;
    }
}

@media screen and (max-width: 520px) {

    .span1of2,
    .span1of3,
    .span2of3,
    .span1of4,
    .span2of4,
    .span3of4,
    .span2of8,
    .span3of8,
    .span4of8,
    .span5of8,
    .span6of8,
    .span7of8 {
        width: 100%;
    }

    .span1of8 {
        width: 50%;
    }

    .col {
        width: 100%;
    }
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1008px;
    width: 90%;
}

.ptb {
    padding-top: 89.75px;
    padding-bottom: 89.75px;
}

@media screen and (max-width: 1120px) {
    .content {
        width: 100%;
    }
}

.section,
.row,
.form-group {
    clear: both;
    display: block;
    vertical-align: top;
}

.swap.section,
.swap.row,
.swap.form-group {
    direction: rtl;
}

.swap.section>*,
.swap.row>*,
.swap.form-group>* {
    direction: ltr;
}

.swap.section>.swap,
.swap.row>.swap,
.swap.form-group>.swap {
    direction: inherit;
}

.clip.section,
.clip.row,
.clip.form-group {
    overflow: hidden;
}

.block,
.group,
.col {
    box-sizing: border-box;
    display: inline-block;
    float: none;
    vertical-align: top;
}

.swap.block,
.swap.group,
.swap.col {
    direction: rtl;
}

.swap.block>*,
.swap.group>*,
.swap.col>* {
    direction: ltr;
}

.swap.block>.swap,
.swap.group>.swap,
.swap.col>.swap {
    direction: inherit;
}

.top.block,
.top.group,
.top.col {
    vertical-align: top;
}

.middle.block,
.middle.group,
.middle.col {
    vertical-align: middle;
}

.bottom.block,
.bottom.group,
.bottom.col {
    vertical-align: bottom;
}

.baseline.block,
.baseline.group,
.baseline.col {
    vertical-align: baseline;
}

.np-l.block,
.np-l.group,
.np-l.col {
    padding-left: 0;
}

.np-r.block,
.np-r.group,
.np-r.col {
    padding-right: 0;
}

@media screen and (max-width: 520px) {

    .block,
    .group,
    .col {
        width: 100%;
    }

    .np-l.block,
    .np-l.group,
    .np-l.col {
        padding-right: 0;
    }

    .np-r.block,
    .np-r.group,
    .np-r.col {
        padding-left: 0;
    }
}

.col {
    max-width: 100%;
    padding-left: 18px;
    padding-right: 18px;
    vertical-align: inherit;
}

.seam,
.hr {
    border-bottom: 1px solid #dcdcdc;
    clear: both;
    display: block;
    height: 0;
}

.super_title {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1;
}

.title,
.normalize h1,
.normalize .title {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2;
}

.heading,
.normalize h2,
.normalize .heading {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.38462;
}

.subheading,
.normalize h3,
.normalize h4,
.normalize h5,
.normalize h6,
.normalize .subheading {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.5;
}

body {
    font-family: "Work Sans", "Helvetica", sans-serif;
    font-weight: 400;
    overflow: auto;
}

.hide {
    display: none;
}

#content {
    background-image: linear-gradient(to bottom, #ff4b00, #ff4d74, #c56bee, #00b5ff, #00ac00, #ffba00, #ff8239);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#numbers {
    backface-visibility: hidden;
    position: relative;
    transform: translateZ(0px);
}

#bg-number {
    backface-visibility: hidden;
    color: #fff;
    display: block;
    font-family: "SixCaps", "Helvetica", sans-serif;
    font-size: 120px;
    font-weight: 400;
    letter-spacing: -0.0125em;
    line-height: 100vh;
    opacity: 0;
    position: fixed;
    text-align: center;
    text-transform: uppercase;
    transform: translateZ(0px);
    transition: opacity 0.15s linear 0s;
    width: 100%;
}

.scrolling #bg-number {
    opacity: 1;
}

@media screen and (min-width: 520px) {
    #bg-number {
        font-size: 240px;
    }
}

#intro .title {
    margin-left: 31%;
    top: 33%;
}

#intro .knockout {
    background-image: url("https://static.mailchimp.com/report-2015/mobile/intro.svg");
}

#intro::before {
    background-color: #001c40;
    content: "";
    display: block;
    height: 100vh;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    transition: opacity 0.25s linear 0s, visibility 0s linear 0s;
    width: 100%;
}

#intro.loaded::before {
    opacity: 0;
}

#intro::after {
    content: "Keep Those Fingers Scrolling";
    left: 0;
    position: absolute;
    top: 100%;
}

.touch #intro {
    height: calc(100vh - (60px + 64px));
}

@media screen and (max-width: 840px) and (orientation: landscape) and (max-height: 600px) {
    .touch #intro {
        height: calc(100vh);
    }

    .touch #intro .knockout {
        background-image: url("https://static.mailchimp.com/report-2015/desktop/intro.svg");
    }
}

@media screen and (min-width: 520px) {
    #intro .title {
        margin-left: 10.25%;
        top: -3.6%;
    }

    #intro .knockout {
        background-image: url("https://static.mailchimp.com/report-2015/desktop/intro.svg");
    }
}

#outro .title {
    margin-left: 31%;
    top: 23%;
}

#outro .knockout {
    background-image: url("https://static.mailchimp.com/report-2015/desktop/outro.svg");
}

@media screen and (max-width: 615px) and (max-height: 600px) {
    #outro .knockout {
        width: 70%;
    }
}

#outro::after {
    content: "We Did it, Fam";
    left: 0;
    position: absolute;
    top: -60px;
}

.scrolled #outro::after {
    opacity: 1;
}

@media screen and (min-width: 520px) {
    #outro .title {
        margin-left: 9%;
        top: -4%;
    }
}

.knockout {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

#images {
    backface-visibility: hidden;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

@media not all {
    #images {
        transform: translateZ(0px);
    }
}

#images .image {
    backface-visibility: hidden;
    clip: rect(0px, auto, auto, 0px);
    left: 0;
    min-height: 100vh;
    opacity: 0;
    position: absolute;
    transition: opacity 0.15s linear 0s;
    width: 100%;
}

#images .image.loaded {
    opacity: 1;
}

@media not all {
    #images .image {
        transform: translateZ(0px);
    }
}

#images .image-container {
    backface-visibility: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    transform: translateZ(0px);
    width: 100vw;
}

@media not all {
    #images .image-container {
        background-attachment: fixed;
        height: 100%;
        position: absolute;
        width: 100%;
    }
}

.point {
    padding: 54px 0;
    position: relative;
}

.point:last-of-type {
    padding-bottom: 216px;
}

.point h1,
.point .number {
    color: #fff;
    font-family: "Work Sans", "Helvetica", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.4em;
    text-transform: uppercase;
}

.point h1 a,
.point .number a {
    color: #fff;
    text-decoration: underline;
    transition: color 0.1s linear 0s;
}

.point h1 a:hover,
.point .number a:hover {
    color: #e6e6e6;
}

@media screen and (min-width: 1024px) {

    .point h1,
    .point .number {
        font-size: 36px;
        line-height: 1.25em;
    }
}

.point .number-container {
    text-align: right;
}

@media screen and (max-width: 520px) {
    .point .number-container {
        text-align: left;
    }
}

.point .subtext {
    margin-top: 18px;
}

.point p {
    color: #fff;
    font-size: 21px;
    font-weight: normal;
    line-height: 1.52381;
    transition: color 0.15s linear 0s;
}

.point p a {
    color: #fff;
    text-decoration: underline;
    transition: color 0.1s linear 0s;
}

.point p a:hover {
    color: #e6e6e6;
}

.image-0 .point p,
.image-1 .point p {
    color: #ff4b00;
}

.image-0 .point p a,
.image-1 .point p a {
    color: #ff4b00;
}

.image-0 .point p a:hover,
.image-1 .point p a:hover {
    color: #cc3c00;
}

.image-2 .point p,
.image-3 .point p,
.image-4 .point p {
    color: #ff4d74;
}

.image-2 .point p a,
.image-3 .point p a,
.image-4 .point p a {
    color: #ff4d74;
}

.image-2 .point p a:hover,
.image-3 .point p a:hover,
.image-4 .point p a:hover {
    color: #ff1a4c;
}

.image-5 .point p,
.image-6 .point p {
    color: #c56bee;
}

.image-5 .point p a,
.image-6 .point p a {
    color: #c56bee;
}

.image-5 .point p a:hover,
.image-6 .point p a:hover {
    color: #b33de9;
}

.image-7 .point p,
.image-8 .point p,
.image-9 .point p {
    color: #00b5ff;
}

.image-7 .point p a,
.image-8 .point p a,
.image-9 .point p a {
    color: #00b5ff;
}

.image-7 .point p a:hover,
.image-8 .point p a:hover,
.image-9 .point p a:hover {
    color: #0091cc;
}

.image-10 .point p,
.image-11 .point p,
.image-12 .point p,
.image-13 .point p {
    color: #00ac00;
}

.image-10 .point p a,
.image-11 .point p a,
.image-12 .point p a,
.image-13 .point p a {
    color: #00ac00;
}

.image-10 .point p a:hover,
.image-11 .point p a:hover,
.image-12 .point p a:hover,
.image-13 .point p a:hover {
    color: #007900;
}

.image-14 .point p,
.image-15 .point p {
    color: #ffba00;
}

.image-14 .point p a,
.image-15 .point p a {
    color: #ffba00;
}

.image-14 .point p a:hover,
.image-15 .point p a:hover {
    color: #cc9500;
}

.image-16 .point p,
.image-17 .point p,
.image-18 .point p {
    color: #ff8239;
}

.image-16 .point p a,
.image-17 .point p a,
.image-18 .point p a {
    color: #ff8239;
}

.image-16 .point p a:hover,
.image-17 .point p a:hover,
.image-18 .point p a:hover {
    color: #ff6206;
}

@media screen and (min-width: 520px) {
    .point p {
        font-size: 18px;
    }
}

.point h1,
.point p,
.point .number {
    background-color: #001c40;
    box-decoration-break: clone;
    box-shadow: 11px 0 0 #001c40, -11px 0 0 #001c40;
    display: inline;
    padding: 6px 0;
}

.point .text-container {
    max-width: 480px;
}

#footer {
    backface-visibility: hidden;
    background-color: #001c40;
    color: #ff8239;
    position: absolute;
    text-align: center;
    transform: translateZ(0px);
    width: 100%;
}

#footer .logo {
    width: 180px;
}

#footer .colophon {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    margin-top: 12px;
}

@media not all,
not all,
not all {
    .knockout {
        background-size: auto 4000px;
    }
}

@media not all,
not all {
    .knockout .knockout {
        background-size: 706px 2801px;
    }
}

@media not all,
not all,
not all {
    #images {
        transform: translateZ(0px);
    }

    .image {
        transform: translateZ(0px);
    }

    .image-container {
        background-attachment: fixed;
        height: 100%;
        position: absolute;
        width: 100%;
    }
}

@supports (-ms-accelerator: true) {
    .image {
        overflow: hidden;
        transform: none;
    }

    .image-container {
        background-attachment: fixed;
        height: 100%;
        position: absolute;
        transform: none;
        width: 100%;
    }
}